<%- include('../partials/head')%>

  <%- include('../partials/navbar')%>
    <section
      class="container-fluid mt-5 d-flex flex-column items-center justify-center rounded-lg p-5 border border-dark mx-auto">
      <h1>404! page not found</h1>
    </section>
    <%- include('../partials/footer')%>